body{
    background-color: rgb(214, 214, 214);
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}
#divmain{
    display: flex;
}
#teles{
    background: white;
}

header{
    background-color: #b588e7;
    text-align: center;
    padding: 30px;
}

footer{
    background-color: #b588e7;
    padding: 6px;
}

#sidebar{
    padding: 6px;
    background-color: #e3b957;
    width: 30%;
    

}
#divjobb{
    width: 70%;
}
#kicsi{
    display: flex;
}
#main{
    padding: 6px;
    background-color: #a7dc8a;
    height: 200px;
}
#widget{
    padding: 6px;
    background-color:  #eb867c;
    width: 50%;
    height: 90px;
}
#startics{
    padding: 6px;
    background-color:  #91b7e8;
    width: 50%;
}
#sidebar, #main, #widget, #startics{
    margin: 3px;
}

@media screen and (max-width: 900px){
    #divmain, #kicsi{
        flex-direction: column;
    }
    #sidebar, #main, #widget, #startics, #kicsi, #divjobb{
        width: 100%;
    }
    #sidebar, #main, #widget, #startics, #kicsi, header{
        margin: 3px;
    }
    #sidebar{
        height: 60px;
    }
    #main{
        height: 150px;
    }
    #widget, #startics{
        height: 90px;
    }
   }